{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/create.css' %}" />
{% endblock %}
{% block content %}
  {% include "header.html" %}
  <div id="content">
    <h1 id="title">Add event</h1>
    <div id="titleline"></div>
    <h2 id="subtitle">イベントを作成します。</h2>
    <div id="vertical_line"></div>
    <h3 id="event_name">イベント名</h3>
    <h3 id="event_detail">詳細</h3>
    <h3 id="event_date">日付</h3>
    <p id="degree">モチベーション度</p>
    <div id="btnline"></div>
    <form method="POST" action=".">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
          {{ form.title }}
        </div>
        
        <div class="form-group">
          <label for="{{ form.detail.id_for_label }}">{{ form.detail.label }}</label>
          {{ form.detail }}
        </div>
        
        <div class="form-group">
          <label for="{{ form.evaluation.id_for_label }}">{{ form.evaluation.label }}</label>
          <input type="range" name="{{ form.evaluation.name }}" id="{{ form.evaluation.id_for_label }}" class="form-control-range" 
                min="0" max="10" value="{{ slider_value }}" onchange="updateSliderValue(this.value)" orient="vertical"
                step="1" list="range-list">
                <style type="text/css">
                    input[type="range"] {
                      -webkit-appearance:slider-vertical;
                      writing-mode: bt-lr;
                    }
                </style>          
                <datalist id="range-list">
                    <option value="0">
                    <option value="1">
                    <option value="2">
                    <option value="3">
                    <option value="4">
                    <option value="5">
                    <option value="6">
                    <option value="7">
                    <option value="8">
                    <option value="9">
                    <option value="10">
                </datalist>
        </div>
        
        <div class="form-group">
          <label for="{{ form.date_at.id_for_label }}">{{ form.date_at.label }}</label>
          {{ form.date_at }}
        </div>
        <div id="create">
        <button type="submit">作成</button>
        </div>
      </form>
  </div>
      <script>
        function updateSliderValue(value) {
          document.getElementById("sliderValue").innerHTML = value;
        }
      </script>
{% endblock content %}