{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOGRA</title>
  <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>
<body>
  {% include "header.html" %}
  <h1>詳細画面</h1>
  <ul>
  <p>イベント名:{{ event.title }}</p>
  <p>詳細: {{ event.detail }}</p>
  <p>評価: {{ event.evaluation }}</p>
  <p>日付: {{ event.date_at }}</p>
  </ul>
  <div id="delete">
    <button id="confirmation-btn">削除</button>
  </div>
  {% include 'delete-modal.html' %}
 <button><a href="{% url 'update' event.uuid %}">編集</a></button>
 <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
</body>
</html>