<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOGRA</title>
</head>
<body>
  <h1>詳細画面</h1>
  <ul>
  <p>イベント名:{{ event.title }}</p>
  <p>詳細: {{ event.detail }}</p>
  <p>評価: {{ event.evaluation }}</p>
  <p>日付: {{ event.date_at }}</p>
  </ul>
  <form action="{% url 'delete' event.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">削除</button>
    <a href="{% url 'home' %}">戻る</a>
  </form>
</body>
</html>