{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}" />
{% endblock %}
{% block content %}
{% include "header.html" %}
<form action="{% url 'emailup' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="email">
        <button id="confirmation-btn" type="button">変更</button>
    </div>
    {% include 'modal/email-modal.html' %}
</form>
<script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
{% endblock content %}