{% load static %}
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>test</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>
<body>
  {% for obj in event_list %}<p>{{ obj.evaluation }}</p>{% endfor %}
<!-- グラフ描画エリア -->
<div style="width:100%">
  <canvas id="canvas"></canvas>
</div>

<!-- グラフ更新ボタン -->
<button type="button" id="btn">グラフを更新</button>

<script>
var chartVal = []; // グラフデータ（描画するデータ）

// ページ読み込み時にグラフを描画
getRandom(); // グラフデータにランダムな値を格納
drawChart(); // グラフ描画処理を呼び出す


// ボタンをクリックしたら、グラフを再描画
document.getElementById('btn').onclick = function() {
  // すでにグラフ（インスタンス）が生成されている場合は、グラフを破棄する
  if (myChart) {
    myChart.destroy();
  }

  getRandom(); // グラフデータにランダムな値を格納
  drawChart(); // グラフを再描画
}


// グラフデータをランダムに生成
function getRandom() {
  chartVal = []; // 配列を初期化
  var length = parseInt('{{eventnum}}');
  var eva = parseInt()
  for (i = 0; i < length; i++) {
    chartVal.push('{% for obj in event_list %}{%cycle'obj.evaluation'%}{% endfor %}');
  }
  console.log(chartVal);
}

