{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<header>
  <div class="logo">
    <a  href="{% url 'home'%}"><img src="{% static 'img/logo.svg' %}"></a>
  </div>
  <div class="list-menu">
    <ul class="list">
      <li><a  href="{% url 'create'%}"><img id="linkimg" src="{% static 'img/addeventbtn.png' %}"><span id="headerlink">Add event</p></spam>
      <li><a  href="{% url 'mypage'%}"><img id="linkimg" src="{% static 'img/mypagebtn.png' %}"><span id="headerlink">My page</span></a>
      <li><a  href="{% url 'logout'%}"><img id="linkimg" src="{% static 'img/logoutbtn.png' %}"><span id="headerlink">Log out</span></a>
    </ul>
  </div>
  <hr>
</header>