{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}
{% block content %}
<div class="logo">
    <img src="{% static '/img/logo.svg' %}" class="logo">
</div>
<div class="title">

</div>
<div class="formfontfix">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="ログイン"></p>
    </form>
</div>

<a id="headerlink" href="{% url 'signup'%}">アカウントを持っていない方はこちら</a>
<a href="{% url 'password_reset' %}">パスワードを忘れた方</a>


{% endblock content %}