{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>MOGRA</title>
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>

<body>
    {% include "header.html" %}
    <form action="{% url 'passwordup' %}" method="post">
        {% csrf_token %}
        <div>
            <h2>パスワード変更</h2>
            <dl>
                <div>
                    <dt>現在のパスワード</dt>
                    <dt>{{ form.current_password }}{{ form.current_password.errors }}</dt>
                </div>
                <div>
                    <dt>新しいパスワード</dt>
                    <dt>{{ form.new_password }}{{ form.new_password.errors }}</dt>
                </div>
                <div>
                    <dt>新しいパスワード(確認)</dt>
                    <dt>{{ form.confirm_new_password }}{{ form.confirm_new_password.errors }}</dt>
                </div>

                <div id="password">
                    <button id="confirmation-btn" type="button">変更</button>
                </div>
                {% include 'modal/password-modal.html' %}
            </dl>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
</body>

</html>