{% load static %}
<!doctype html>

<html lang="ja">
<head>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">    
    <meta charset="utf-8">
    <title>MOGRA</title>
</head>
<body>
    <div class ="logo">
        <img src="{% static '/img/logo.png' %}" class ="logo">
    </div>
    <div class ="title">
        <h1>アカウント登録</h1>
    </div>
    <div class ="formfontfix">
        <form action="{% url 'signup' %}" method="post" class = "formfix">
        {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="登録"></p>
        </form>
    </div>

</body>
</html>