{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/css/signup.css' %}">

{% endblock %}
{% block content %}
<div class="logo">
    <img src="{% static '/img/logo.svg' %}" class="logo">
</div>
<div class="title">
    <h1>アカウント登録　</h1>
</div>
<div class="formfontfix">
    <form action="{% url 'signup' %}" method="post" class="formfix">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="登録"></p>
    </form>
</div>
{% endblock content %}