{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/usernameup.css' %}" />
{% endblock %}
{% block content %}
{% include "header.html" %}
<div id="content">
    <h1 id="title">アカウント情報</h1>
    <div id="titleline"></div>
    <h2 id="subtitle">ユーザー名を変更します。</h2>
    <div id="vertical_line"></div>
    <h3 id="event_name">ユーザー名</h3>
    <h3 id="event_password">パスワード</h3>
    <div id="btnline"></div>
    <form action="{% url 'nameup' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="username">
            <button id="confirmation-btn" type="button">変更</button>
        </div>
        {% include 'modal/username-modal.html' %}
    </form>
</div>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
    {% endblock content %}