#content {
  position: absolute;
  margin: auto;
}

#title {
  position: absolute;
  width: 376px;
  height: 77px;
  left: -30px;
  top: 50px;
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #383838;
}

#subtitle {
  position: absolute;
  width: 477px;
  height: 46px;
  left: 104px;
  top: 112px;

  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #383838;
}

#titleline {
  position: absolute;
  width: 240px;
  height: 0px;
  left: 40px;
  top: 102px;
  border: 2px solid #92F5FC;
}

#vertical_line {
  position: absolute;
  width: 320px;
  height: 0px;
  left: 85px;
  top: 350px;

  border: 1px solid #000000;
  transform: rotate(-90deg);
}

#id_title {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 45px;
  left: 305px;
  top: 200px;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.34);
  border-radius: 26px;
  padding: 0px 0px 0px 20px;
  color:#393939;
}

#id_detail {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 155px;
  left: 305px;
  top: 280px;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.34);
  border-radius: 26px;
  padding: 20px;

  color:#393939;
}

#id_date_at {
  position: absolute;
  width: 300px;
  height: 37px;
  left: 305px;
  top: 470px;

  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color:#393939;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.34);
  border-radius: 26px;
}
#degree{
  position: absolute;
  width: 192px;
  height: 300px;
  left: 1000px;
  top: 114px;
}
.form-control-range {
  position: absolute;
  width: 192px;
  height: 300px;
  left: 965px;
  top: 140px;
}


#event_name {
  position: absolute;
  width: 120px;
  height: 27px;
  left: 90px;
  top: 205px;
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* ボックスの高さと同一 */
  color: #000000;
  text-align: center;
}

#event_detail {
  position: absolute;
  width: 120px;
  height: 27px;
  left: 90px;
  top: 290px;
  font-weight: bold;
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* ボックスの高さと同一 */
  color: #000000;
  text-align: center;
}

#event_date {
  position: absolute;
  width: 120px;
  height: 27px;
  left: 90px;
  top: 470px;

  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* ボックスの高さと同一 */
  color: #000000;
  text-align: center;
}

#create {

  position: absolute;
  width: 133px;
  height: 27px;
  left: 1000px;
  top: 500px;

  font-family: 'Nobile';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

#btnline {
  position: absolute;
  width: 80px;
  height: 1px;
  left: 1027px;
  top: 530px;
  border: 1px solid #000000;
}
#create:hover {

  position: absolute;
  width: 133px;
  height: 27px;
  left: 1000px;
  top: 500px;

  font-family: 'Nobile';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #999999;
}
