body{
    font-family: 'Yu Gothic UI';
}
.head{
    padding: 10px 0px 10px 0px;
}
/* .logo{
    height:50px;
    padding: 0px 70% 0px 0px;
} */

  
  .logo {
  
    margin: 10px 0 0 10px;
    float: left;
  }
  
  .logo img {
    height: 60px;
  }
  

ul.list {

    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  ul.list li {
    padding: 0 10px;
    position: relative;
    top: 50px;
    right: 40px;
  }


.button{
    position: relative;
    height:20px;
    top:-20px;
    padding: 0% 0% 0% 2%;
}

.titleimg{
    width:100%;
}
.phrase{
    text-align: center;
    font-size:50px;
    padding: 20% 0% 20% 0%;
    text-decoration:underline solid #ECC39D;
}
.whatis{
    width: 100%;
}
.features{
    text-align: center;
    font-size:50px;
    padding: 5% 0% 5% 0%;
}
.concept{ 
    font-size: 25px;
    width: 400px;
    height:200px;
    display: inline-block;
    
}
.img{
    width: 60%;
}

.top{
    text-align: center;
    font-size:20px;
    padding: 8% 0% 8% 0%;
    text-decoration:underline solid #000000;
}

.center{
    text-align: center;
    
}
