.logo img {
    position: relative;
    height: 136px;
    left: 20px;
}
.logo {
    text-align: center;
}
.headline{
    font-family: 'Yu Gothic UI';
    font-size: 26px;
    font-weight: lighter;
    text-align: center;
}

.link{
    color: #000000;
    position: absolute;
    left: 570px;
    top: 200px;
    font-family: 'Yu Gothic UI';
    
}
.link:hover {
    color: #999999;
    position: absolute;
    left: 570px;
    top: 200px;
    font-family: 'Yu Gothic UI';
   
}