.logo img {
    position: relative;
    height: 136px;
    left: 20px;
}

.logo {
    text-align: center;
}

.title {
    text-align: center;
    font-family: 'Yu Gothic UI';
    font-size: 26px;
    font-weight: lighter;
}

.formfontfix {
    font-family: 'Yu Gothic UI';
    font-size: 20px;
}

ul{
    text-align: center;
  color: #FA3E3E;
}

input {
    width: 90%;
    height: 40px;
    border-radius: 26px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding-left: 16px;
    font-size: 26px;
}

label,
input {
    display: block;
}

p {
    padding: 0% 10% 2% 15%;
}

a {
    color: #5c5c5c;
    position: absolute;
    left: 530px;
    top: 560px;
    font-family: 'Yu Gothic UI';
}
a:hover
{
    color: #999999;
    position: absolute;
    left: 530px;
    top: 560px;
    font-family: 'Yu Gothic UI';
}

p:last-child input {
    border: 0px solid rgba(0, 0, 0, 0.34);
    text-decoration: underline solid #000000;
    position: absolute;
    width: 72px;
    height: 41px;
    left: 950px;
}

/* フォームの文字変更は”forms.py”のSignupFormのlabelを変更する */
p:last-child input:hover{
    border: 0px solid #999999;
    text-decoration: underline solid #999999;
    color: #999999;
    position: absolute;
    width: 72px;
    height: 41px;
    left: 950px;
}